.container {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.box {
  width: 700px;
  height: 500px;
  background: #ccc;
  margin-bottom: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5em;
  transition: all 1s ease;
}